@import url("https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --main-color: #deab5f;
  --primary-color: #312e2e;
}

/* Utility Styles */
button {
  padding: 10px 30px;
  background: var(--main-color);
  border: none;
  cursor: pointer;
}

/* Resets */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #100e0f;
}

/* Nav Start */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  font-family: sans-serif;
  padding-top: 15px;
}

li {
  display: inline;
  list-style: none;
}

li a {
  color: #fff;
  text-decoration: none;
  margin-left: 40px;
  padding-bottom: 10px;
}

li a:hover {
  color: #007aff;
}
/* Nav-END */

/* Header Start */
.header {
  background: url(../img/c1.png);
  background-position: center;
  background-size: cover;
  height: 100vh;
  font-family: "Playfair", serif;
  font-weight: normal;
  /* FlexBox */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: relative;
  text-align: center;
}
/* main headings */
.main-heading {
  position: absolute;
  top: 7rem;
  font-size: 4rem;
  word-spacing: 10px;
}
/* Primary Heading */
.primary-heading {
  position: absolute;
  bottom: 4rem;
  font-size: 4rem;
  word-spacing: 10px;
  margin-bottom: -40px;
}
/* Main-Butto */
.main-btn {
  position: absolute;
  bottom: 2rem;
  padding: 10px 30px;
  margin-top: 20px;
  background: transparent;
  background: var(--main-color);
  transform: translateY(60px);
  text-align: center;
}
/* Our Story */
#Our-story{
  margin-top:15%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.img{
  width: 400px;
  height: 400px;
  background: url();
  background-position: center;
  background-size: cover;
}

.title-style{
  display: flex;
  align-items: center;
}

.title{
  font-family: "Playfair", serif;
  font-size: 4rem;
  color: #fff;
  transform: translateX(-100px);
}

.line{
  width: 100px;
  height: 2px;
  background: #fff;
  transform: translateX(-120px);
}

.section-content p{
  max-width: 500px;
  color: #fff;
  font-family: sans-serif;
  line-height: 20px;
  margin: 20px 0;
}

